.form_section{
    padding: 120px 0;
}
.form_v{
    background-image:url(/image/bg-01.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 50px;
    position: relative;
    border-radius: 20px;
    z-index: 0;
}


.form_v::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    background-color: black;
    border-radius: 20px;
    z-index: -1;
    opacity: 0.6;
}


.form-label{
    color: #FFF;
}
.full_name{
    background: transparent;
}

.email_address{
    background: transparent;
}